@use "../../assets/sass/variables" as *;

* {
  text-align: center;
}
.details {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 15px;
  background: $color-secondary;
}

.card {
  border: 1px solid black;
  height: 30vh;
  background: $color-secondary;
}
