@use "./assets/sass/_variables.scss" as *;

* {
  background: $color-primary;
  color: $color-white;
}

.tickets {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  gap: 3.5%;
  padding-top: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
